<div class="panel-container" style="overflow: hidden;">
	<div id="home" class="">
		<p class="blue">{{card.job}}</p>
		<p class="orange"></p>
		<span><i class="fa fa-phone-square"></i>&nbsp;{{card.number}}</span>
	</div>   
</div>


<div class="grey-content">
	<div class="one-third column-last" ng-repeat="competence in card.competences">
		<div class="services">
			<div class="servtitle">
				<div class="servicon"><i ng-class="competence.class"></i><h3>{{competence.name}}</h3></div>
			</div>
			<div>
				<p ng-repeat="description in competence.descriptions">
					{{description}}
				</p>
			</div>
		</div>
	</div>    
</div>