

<div class="panel-container" style="overflow: hidden;">
	<div id="home" class="">
		<p class="blue">{{card.job}}</p>
		<p class="orange"></p>
		<span><i class="fa fa-phone-square"></i>&nbsp;{{card.number}}</span>
	</div>   
</div>


<div class="grey-content">
	<div class="one-third">
		<div class="services">
			<div class="servtitle">
				<div class="servicon"><i class="fa fa-comments web"></i><h3>FRONT-END</h3></div>
			</div>
			<div>
				<p>
					Intégration (HTML5 / CSS3). <br/>
					Responsive design. <br/>
					Javascript, jQuery, angularJS. <br/>
				</p>
				<a href="#"><span>Learn More <i class="icon-angle-right"></i></span></a>
			</div>
		</div>
	</div>
	<div class="one-third">
		<div class="services">
			<div class="servtitle">
				<div class="servicon"><i class="fa fa-comments ui"></i><h3>BACK-END</h3></div>
			</div>
			<div>
				<p>
					Conception et déploiement. <br/>
					Frameworks : (Django, Flask). <br/>
				</p>
				<a href="#"><span>Learn More <i class="icon-angle-right"></i></span></a>
			</div>
		</div>
	</div>
	<div class="one-third column-last">
		<div class="services">
			<div class="servtitle">
				<div class="servicon"><i class="fa fa-comments app"></i><h3>Lorem Ipsum</h3></div>
			</div>
			<div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante nec nunc hendrerit scelerisque. Integer sed ante suscipit, luctus enim et, commodo orci.
				</p>
				<a href="#"><span>Learn More <i class="icon-angle-right"></i></span></a>
			</div>
		</div>
	</div>                  
</div>